<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
        <div class="container">
        <h1>Welcome to the Opportunity Page!</h1>
        <p>View scholarships and travel abroad opportunities</p>

        <% if(currentUser && currentUser.isAdmin){ %>
        <p>
                <a class="btn btn-primary btn-lg" href="/opportunities/new">Add New Opportunity</a>
        </p>
          <% } %>
</header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
   <% opportunities.forEach(function(opportunity){ %>
       <div class="col-md-3 col-sm-6">
           <div class="thumbnail">
                <img src="<%= opportunity.image %>">
                <div class="caption">
                        <h4><%= opportunity.name %></h4>

                </div>
                <p>
                    <a href="/opportunities/<%= opportunity._id %>" class="btn btn-primary">More Info</a>
                </p>
           </div>
       </div>
    <% }); %>
    </div>
</div>


<% include ../partials/footer %>
